<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>BackgroundKillTitleCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>General</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.tonyk7.backgroundkill</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>cellClass</key>
			<string>DarkSwitchCell</string>
			<key>PostNotification</key>
			<string>com.tonyk7.backgroundkill/prefsChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>bundle</key>
			<string>AppList</string>
			<key>isController</key>
			<string>1</string>
			<key>label</key>
			<string>Kill apps on exit</string>
			<key>ALAllowsSelection</key>
			<string>1</string>
			<key>ALSettingsKeyPrefix</key>
			<string></string>
			<key>ALSettingsDefaultValue</key>
			<string>0</string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/com.tonyk7.backgroundkill-applist.plist</string>
			<key>ALSingleEnabledMode</key>
			<false/>
			<key>ALChangeNotification</key>
			<string>com.tonyk7.backgroundkill/prefsChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Me :)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Follow @tonyk766</string>
			<key>icon</key>
			<string>twitter.png</string>
			<key>action</key>
			<string>twitterButton</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Donate</string>
			<key>icon</key>
			<string>paypal.png</string>
			<key>action</key>
			<string>paypalButton</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Source code</string>
			<key>icon</key>
			<string>github.png</string>
			<key>action</key>
			<string>githubButton</string>
		</dict>
	</array>
	<key>title</key>
	<string>BackgroundKillPrefs</string>
</dict>
</plist>
